<div class="border">
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @restaurant.description %>
</p>

<%= render 'reviews/reviews' %>

<%= render 'reviews/newreview' %>
</div>